:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-inter: "Inter", sans-serif;
  --primary-color: #484dff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: red;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
}
body {
  color: #546681;
}
ul,
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  object-fit: contain;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
}
/* Commont css here */
.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}
.heading {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #1a3066;
  font-size: 55px;
  line-height: 1;
  letter-spacing: -0.5px;
}
.global_subtitle {
  max-width: 500px;
  margin-bottom: 15px;
  color: #484dff;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.global_title {
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #1a3066;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.global_title span {
  color: var(--primary-color);
}
.heading-3 {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #2e3642;
  text-align: left;
}
.paragraph {
  max-width: 490px;
  font-weight: 500;
  color: #546681;
  font-size: 17px;
  line-height: 1.3;
  font-style: normal;
}
.paragraph-2 {
  max-width: 320px;
  color: #546681;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
}
.btn {
  padding: 10px 30px;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
}
.btn-primary {
  padding: 18px 35px;
  border-radius: 45px;
  background-color: var(--primary-color);
  color: #fff;
}
.btn-primary:hover {
  opacity: 0.7;
}
.secton_btn {
  margin-top: 40px;
}
/* Global Css here */
header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}
.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px 0;
}
.logo {
  flex: 0 0 20%;
}
/* Nav */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(40% - 20px);
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.navigation ul li a {
  font-weight: 500;
}
.navigation ul li a:hover {
  text-decoration: underline;
}
/* header right */
.header_right {
  flex: 0 0 20%;
}
.phone_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
}
.menuHandaller {
  display: none;
}
/* Hero area section */
.hero_area {
  padding: 60px 0;
  padding-top: 120px;
}
.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
}
.hero_text {
  max-width: 550px;
}
.paragraph-hero {
  max-width: 490px;
  color: #546681;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 5px;
}
.hero_btns {
  padding-top: 35px;
}
.btn_primary_nobg {
  margin-left: 20px;
  font-weight: 500;
}
/* Section logo */
.section_logo {
  padding: 60px 0;
}
.section_logo_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}
/* services */
.services {
  padding: 80px 0;
}
.services_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 30px;
  padding-top: 40px;
}
.services_card {
  padding: 60px 25px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 14px 14px 200px 0 rgba(0, 22, 50, 0.06);
  height: 100%;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.services_card:hover {
  transform: translate3d(0px, -4px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.services_icon {
  margin-bottom: 25px;
}
.services_text .btn {
  margin-top: 35px;
}
/* Content Section */
.content_section {
  padding: 60px 0;
}
.single_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 40px;
  row-gap: 40px;
}
.single_content .global_header {
  max-width: 500px;
}
.content_two {
  flex-direction: row-reverse;
  padding-top: 120px;
}
/* blogs */
.blog_area {
  padding: 80px 0;
}
.blog_header .global_subtitle,
.blog_header .global_title,
.blog_header {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 15px;
}
.blog_content {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}
.blog_card {
  overflow: hidden;
  width: 100%;
  margin-right: 0px;
  padding: 15px 16px 35px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.08);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.blog_card:hover {
  transform: translate3d(0px, -4px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.blog_card_head {
  padding-bottom: 20px;
}
.blog_card_head img {
  height: 100%;
  min-height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.blog_tag {
  color: #38cb89;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 10px 15px;
  background: #e9f9f0;
  display: inline-block;
  border-radius: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}
/* Footer */
footer {
  padding: 60px 0;
}
.footer_logo {
  padding-bottom: 20px;
}
.widget_title {
  display: inline-block;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #0a1f44;
  font-size: 18px;
  font-weight: 600;
}
.footer_menu li a {
  margin-bottom: 15px;
  margin-left: 1px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #4e5d78;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}
.footer_menu li a:hover {
  text-decoration: underline;
}
footer .paragraph-2 {
  max-width: 380px;
  padding-bottom: 20px;
}

/* Footer cp */
.footer_cp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_cp p {
  color: rgba(107, 111, 154, 0.61);
  font-size: 16px;
  font-weight: 500;
}
.footer_cp p a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.footer_socail ul {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: flex-end;
}
.footer_socail ul li a {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border: 1px solid transparent;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.footer_socail ul li a svg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer_socail ul li a:hover {
  background: transparent;
  border-color: var(--primary-color);
}
.footer_socail ul li a:hover svg {
  color: var(--primary-color);
}
/* Login and regiester page */
.register_page,
.login_page {
  padding: 50px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.form_title {
  font-size: 42px;
  color: #1a3066;
  padding-bottom: 10px;
}
.body_form {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
.single_input label {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 8px;
  display: block;
}
.submit_btn,
.body_form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #2e3642;
  font-size: 16px;
  font-family: inherit;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.single_input input:focus {
  outline: none;
  border-color: var(--primary-color);
}
.submit_btn {
  margin-top: 10px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  border-color: var(--primary-color);
}
.submit_btn:hover {
  opacity: 0.7;
}
.form_redirect {
  font-size: 14px;
}
.form_redirect a {
  color: #000;
}
.form_redirect a:hover {
  text-decoration: underline;
}
/* Dashboard Style */
